/* style.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

img {
    max-width: 100%;
    height: auto;
}

.navbar {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.navbar a {
    margin: 0 10px;
    text-decoration: none;
    justify-items: center;
    color: white;
    font-size: large;
    font-weight: bold;
    border-radius: 20px;
    transition: color 0.5s;
}

.navbar a:hover {
    color: red;
}

.logo img {
    max-width: 100px;
}

.btn{
    padding: 1rem 15px;
    font-size: 15px;
    color: #fff;
    background-color: #1d4ed8;
    border-radius: 5px;
    cursor: pointer
    transition: all 0,3s ease;
}
.btn:hover{
    background-color: #1e40af;
}
